
$modularscale: (
  base: $base-fontsize,
  ratio: 1.2,
  0em:(
  base: 0.75em,
  ratio: 1.2,
  ),
  62em:(
    base: $base-fontsize,
    ratio: 1.3
  ),
  75em:(
    base: $base-fontsize,
    ratio:1.3
  ),
);

@mixin text-align($alignment){
  text-align: $alignment; 
}
.text-left{
  @include text-align(left);
}
.text-center{
  @include text-align(center);
}
.text-right{
  @include text-align(right);
}