.homepage{
	@extend .layout-wrapper
}
.intro{
	border-top: 16px solid $magenta;
	@extend .layout-row;
	margin-bottom: 40px;
	@include respond-to(medium){
		margin-bottom: 64px;
	}
	@include respond-to(large){
		margin-bottom: 80px;
	}
}

.hero{
	@include column-width(12);
	@include margin-bottom($normal-spacing);
	@include respond-to(medium){
		@include column-width(12);
		@include margin-bottom($medium-spacing);
	}
	@include respond-to(large){
		@include column-width(8);
		@include margin-bottom($large-spacing);
	}
}

.social-media{
	@include column-width(12);
}
.social-media a{
	border: 0px;
}

.intro-paragraph{
	@include column-width(12);
	@include margin-top($normal-spacing);
	@include respond-to(medium){
		@include column-width(9);
		@include margin-top($medium-spacing);
	}
	@include respond-to(large){
		@include column-width(6);
		@include margin-top($large-spacing);
	}
}

.process, .speaking{
	@extend .layout-row;
	margin-bottom: 40px;
	@include respond-to(medium){
		margin-bottom: 64px;
	}
	@include respond-to(large){
		margin-bottom: 80px;
	}
	.title{
		border-top: 16px solid $magenta;
		display: inline-block;
		padding-left: $normal-spacing;
		margin-left: -($normal-spacing);
		@include respond-to(medium){
			padding-left: $medium-spacing;
			margin-left: -($medium-spacing);
		}
		@include respond-to(large){
			padding-left: $large-spacing;
			margin-left: -($large-spacing);
		}

	}
}
.process-intro, .speaking-intro{
	@extend .layout-row;
	@include margin-bottom($large-spacing);
	.subtitle{
		@include column-width(11);
		@include respond-to(large){
			@include column-width(8);
		}
	}
}
.process-step{
	@include margin-top($normal-spacing);
	@include respond-to(medium){
		@include margin-top($medium-spacing);
	}
	@include column-width(12);
	@include respond-to(medium){
		@include column-width(6);
	}
	@include respond-to(large){
		@include column-width(3);
	}
}
.process-step .process-icon{
	@include column-width(3);
	@include respond-to(medium){
		@include column-width(12);
		img{
			width: 100px;
		}
	}
}
.process-step .process-information{
	@include column-width(9);
	@include padding-top($normal-spacing);
	@include respond-to(medium){
		@include column-width(12)
		@include padding-top($medium-spacing);
	}
}

.process .header, .speaking .header{
	@include column-width(12);
	margin-top:40px;
}
.speaking-info{
	@include column-width(12);
	@include respond-to(medium){
	@include column-width(9);
	}
	@include respond-to(large){
		@include column-width(6);
	}
}
.speaking-talks{
	@include column-width(12);
	@include respond-to(medium){
		@include column-width(6);
	}
	@include respond-to(large){
		@include column-width(4);
	}
}
.speaking-talks li{
	border-left: $normal-spacing solid $magenta;
	padding-left: $normal-spacing;
	margin-bottom: $normal-spacing;
	margin-top: $normal-spacing;
}
.events{
	@include column-width(12);
}