<section id="articles" class="columns small-12 medium-6 large-6">
	<h2>Published Articles</h2>
	<ul class="block-list">
		<li>
			<h3><a href="https://medium.com/@emkey/dear-designer-why-are-you-so-mad-a79b2f465d61">Dear Designer, why are you so mad?</a>
			<p>Sometimes you are the broken interface, sometimes you are the missing affordance.</p>
			<small>May 16, 2014</small>
		</li>
		<li>
			<h3><a href="https://medium.com/design-research-in-the-philippines/the-evolution-of-the-conversation-about-design-ui-and-ux-50ce7f5921a2">The Evolution of the conversation about Design, UI and UX</a></h3>
			<p>Sometimes we just need to realise grey areas as they are, grey</p>
			<small>May 1, 2014</small>
		</li>
		<li>
			<h3><a href="https://medium.com/@emkey/things-every-designer-should-learn-from-the-ramen-girl-3328ccba90e7">Things every designer should learn from The Ramen Girl</a></h3>
			<p>On Design, Product Experiences and Craftsmanship</p>
			<small>Sep 26, 2013</small>
		</li>
	</ul>
</section>
