<section id="portfolio" class="small-12 columns page-section portfolio-section">
	<h2>Work</h2>
	<div class="row">
		<div class="small-12 medium-4 large-4 columns">
			<img src="images/portfolio-thumbnails/hiv-case-study.jpg" alt="hiv-case-study" width="600" height="400" class="portfolio-thumbnail" />
			<h3>Designing an Experience around Disease and Stigma</h3>
			<p>A UX case study focusing on the current problem of the current HIV epidemic in the Philippines.</p>
			<p>
				<a href="https://medium.com/design-research-in-the-philippines/designing-an-experience-around-disease-and-stigma-c1cd6cc37803" target="_blank">View this project &raquo;</a>
			</p>
		</div>
		<div class="small-12 medium-4 columns">
			<img src="images/portfolio-thumbnails/olx-design-system.jpg" alt="olx-design-system" width="600" height="400" class="portfolio-thumbnail" />
			<h3>Redesigning the OLX Mobile Experience</h3>
			<p>A look into the 2016 redesign of the OLX Mobile experience and the creation of a unified design system</p>
			<p>
				<a href="https://medium.com/@emkey/redesigning-and-creating-the-olx-design-system-68e8a997ad04" target="_blank">View this project &raquo;</a><br />
				<a href="https://emkey.github.io/downloadable/olx-design-language-documentation.pdf" target="_blank">Download the OLX Design Language &raquo;</a>
			</p>
		</div>
		<div class="small-12 medium-4 columns">
			<img src="../images/portfolio-thumbnails/ignacio-calligraphy.jpg" alt="ignacio-calligraphy" width="600" height="400" class="portfolio-thumbnail" />
			<h3>Ignacio De Loyola</h3>
			<p>Calligraphy work for the feature film <em>Ignacio de Loyola</em> by the Jesuit Communications</p>
			<p>
				Coming soon &raquo;
			</p>
		</div>
	</div>
</section>
