// This is the body typeface
body{
  font-family: $main-typeface;
  @include ms-respond(font-size,0);
  font-weight: $font-weight;
  line-height: $base-lineheight
}
//These are the headers
h1,h2,h3,h4,h5,h6{
	font-family: $sub-typeface;
	font-weight: bold;
	line-height: 1.2em;
	@include respond-to(medium){
		line-height: 1.3em;
	}
	@include respond-to(large){
		line-height: 1.2em;
	}
}
h1{
	@include ms-respond(font-size,6);

}
h2{
	@include ms-respond(font-size,5);

}
h3{
	@include ms-respond(font-size,4);

}
h4{
	@include ms-respond(font-size,3);

}
h5{
	@include ms-respond(font-size,2);

}
h6{
	@include ms-respond(font-size,1);

}

// header title //
.title{
	color: $magenta;
}
.subtitle{
	font-family: $main-typeface;
	font-weight: normal;
}
// paragraph elements
body{
	color: $palesky;
}
p{
	@include margin-top($medium-spacing);
	@include margin-bottom($medium-spacing);
}
strong{
	font-weight: bold;
}
// This is the caption
small{
	font-size: ms(-1);
}
.caption{
	font-size: ms(-1);
	font-family: $sub-typeface;
}
label{
	font-size: ms(-1);
}
// Links
	// Text Links
	a{
		color: $kblue;
		border-bottom: 1px solid $kblue;
		text-decoration: none;
		&:hover{
		color: lighten($kblue, 20%);
		}
		&:active{
		color: textcolortint($kblue, 0);
		}
		&:visited{
		color: textcolortint($kblue, 0);
		}
		&:link{
		color: textcolortint($kblue, 0);
		}
	}
	// Button Links
	.button-text{
		text-transform: uppercase;
		letter-spacing: 0.0625em;
		display: inline-block;
		text-decoration: none;
		@include  text-align(center);
	}